.App {
  padding-top: 40px;
}
.search-bar{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.search-glyph {
  cursor: pointer;
}
.center>tr>th.city{
  width: 15%;
}
.center>tr>th{
  text-align: center;
}
.avrg{
  text-align: center;
  font-size: 12px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type>div{
  height: 180px;
  width: 200px;
  margin-left: 0px;
}